.places {
  width: calc(100% - 2 * 148px);
  margin: 0 auto;
  display: grid;
  gap: 77px 0;
}
@media screen and (max-width: 1140px) {
  .places {
    width: calc(100% - 2 * 48px);
    gap: 77px 0;
  }
}

@media screen and (max-width: 988px) {
  .places {
    gap: 73px 0;
    width: calc(100% - 2 * 24px);
  }
}
@media screen and (max-width: 568px) {
  .places {
    gap: 48px 0;
    width: 100%;
  }
}
