.place__paragraph {
  margin: 0;
  padding: 0;
  font-size: 18px;
  padding-bottom: 26px;
  line-height: 163%;
}

.place__paragraph:last-child {
  padding-bottom: 0;
}

@media screen and (max-width: 1023px) {
  .place__paragraph {
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    margin: 0 16px;
  }
}