.footer__copyright {
  padding: 0;
  margin: 0;
  font-size: 14px;
  margin-block-start: 0;
  margin-block-end: 0;
  line-height: 1.5;
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .footer__copyright {
    line-height: 0.8;
  }
}
