.place {
  width: 100%;
  display: grid;
  grid-template-columns: 47% 1fr;
  gap: 48px 40px;
}

@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .place {
    gap: 55px 32px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .place {
    gap: 42px 28px;
  }
}
@media screen and (max-width: 767px) {
  .place {
    width: 100%;
    grid-template-columns: 1fr;
    gap: 33px;
  }
}
