.intro__title {
  font-size: 54px;
  font-weight: 900;
  line-height: 0.5;
  padding: 0;
  margin: 0;
  padding-top: 18px;
  margin: 0 auto 50px;
  text-rendering: optimizeLegibility;
}
@media screen and (max-width: 767px) {
  .intro__title {
    font-size: 32px;
    line-height: 1.1;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1279px) {
  .intro__title {
    margin-bottom: 54px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .intro__title {
    padding-top: 16px;
    margin-bottom: 52px;
  }
}
@media screen and (max-width: 767px) {
  .intro__title {
    padding-top: 0;
    margin-bottom: 42px;
  }
}
